DATABASE_URL=postgresql+psycopg://username:password@postgres-db:5432/file_share_dev

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_REDIRECT_URI=https://share.1matrix.dev/api/auth/google/callback

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=60

CLIENT_DEFAULT_REDIRECT_URL=https://share.1matrix.dev

STATIC_FILES_DIR=statics
MAX_UPLOAD_BYTES=5242880
